<body>
  <div class="container-fluid content">
    <div class="row h-100 abg-full vh-100">
      <div class="col-12 h-100">
        <div class="py-5 text-center">
          <h1 class="display-4 font-weight-normal">PlasTick</h1>
          <p class="lead font-weight-normal">A Route Mapper and Social Network for the Bouldering Gym</p>
        </div>
      </div>
    </div>

    <div class="row bbg-full">
      <div class="col-sm-12 col-md-6 vh-100">
        <div class="p-5"
          data-aos="flip-right"
          data-aos-easing="ease-out-cubic"
          data-aos-duration="2000">
          <h2>Find</h2>
          <p>
            Use our powerful filtering tools to find the best routes, tailored to your goals.<br>
            Navigate using our interactive maps.<br>
          </p>
        </div>
      </div>
      <div class="col-sm-12 col-md-6 vh-100">
        <img src="../assets/photos/home.jpg"
          class="image-fluid rounded"
          alt="Homepage"
          style="max-width:50%;  "
          data-aos="fade-up"
          data-aos-anchor-placement="top-bottom"
          data-aos-duration="2000">
      </div>
    </div>

    <div class="d-flex flex-row-reverse cbg-full">
      <div class="order-2 col-sm-12 col-md-6 vh-100">
        <img src="../assets/photos/home.jpg"
          class="image-fluid rounded float-right"
          alt="Homepage"
          style="max-width:50%;  "
          data-aos="fade-up"
          data-aos-anchor-placement="top-bottom"
          data-aos-duration="2000">
      </div>
      <div class="order-1 col-sm-12 col-md-6 text-right vh-100">
        <div class="p-5"
          data-aos="flip-right"
          data-aos-easing="ease-out-cubic"
          data-aos-duration="2000">
          <h2>Create</h2>
          <p>
            Use the editor to document routes,<br>
            or create your own!<br>
            Custom circuits are like playlists for your workout<br>
          </p>
        </div>
      </div>
    </div>

    <div class="row dbg-full">
      <div class="col-sm-12 col-md-6 vh-100">
        <div class="p-5"
          data-aos="flip-left"
          data-aos-easing="ease-out-cubic"
          data-aos-duration="2000">
          <h2>Track</h2>
          <p>
            Easily note when you send problems.<br>
            Analytics (coming soon) help you track your progress.<br>
          </p>
        </div>
      </div>
      <div class="col-sm-12 col-md-6 vh-100">
        <img src="../assets/photos/home.jpg"
          class="image-fluid rounded"
          alt="Homepage"
          style="max-width:50%;  "
          data-aos="fade-up"
          data-aos-anchor-placement="top-bottom"
          data-aos-duration="2000">
      </div>
    </div>

    <div class="d-flex flex-row-reverse ebg-full">
      <div class="order-2 col-sm-12 col-md-6 vh-100">
        <img src="../assets/photos/home.jpg"
          class="image-fluid rounded float-right"
          alt="Homepage"
          style="max-width:50%;  "
          data-aos="fade-up"
          data-aos-anchor-placement="top-bottom"
          data-aos-duration="2000">
      </div>
      <div class="order-1 col-sm-12 col-md-6 text-right vh-100">
        <div class="p-5"
          data-aos="flip-right"
          data-aos-easing="ease-out-cubic"
          data-aos-duration="2000">
          <h2>Share</h2>
          <p>
            Name your creations then post them to the feed so others can enjoy them.<br>
            Comments and feedback allow people to communicate about routes<br>
          </p>
        </div>
      </div>
    </div>

    <div class="row fbg-full">
      <div class="col-sm-12 col-md-6 vh-100">
        <div class="p-5">
          <h2>Download on the AppStore</h2>
        </div>
      </div>
      <div class="col-sm-12 col-md-6 vh-100">
        <img src="../assets/photos/home.jpg"
          class="image-fluid rounded"
          alt="Homepage"
          style="max-width:50%;  "
          data-aos="fade-up"
          data-aos-anchor-placement="top-bottom"
          data-aos-duration="2000">
      </div>
    </div>

    <div class="row gbg-full">
      <div class="col-12 vh-15">
        <h4><i>contact us</i></h4>
      </div>
    </div>
  </div>
</body>
