<div class="container content">
  <div class="row">
    <div class="vh-50">
      <h1>PlasTick</h1>
      <h3>A Route Mapper and Social Network for the Bouldering Gym</h3>
    </div>
  </div>
  <div class="row">
    <div
      data-aos="flip-right"
      data-aos-easing="ease-out-cubic"
      data-aos-duration="2000">
      <div class="vh-50">
        <h2>Find</h2>
        <p>
          Use our powerful filtering tools to find the best routes, tailored to your goals.<br>
          Navigate using our interactive maps.<br>
        </p>
      </div>
    </div>
  </div>

  <div class="row">
    <div
      data-aos="flip-left"
      data-aos-easing="ease-out-cubic"
      data-aos-duration="2000">
      <div class="text-right vh-50">
        <h2>Create</h2>
        <p>
          Use the editor to document routes or create your own!<br>
          Custom circuits are like playlists for your workout<br>
        </p>
      </div>
    </div>
  </div>

  <div class="row">
    <div
      data-aos="flip-right"
      data-aos-easing="ease-out-cubic"
      data-aos-duration="2000">
      <div class="left-cont">
        <h2>Track</h2>
        <p>
          Easily note when you send problems.<br>
          Analytics (coming soon) help you track your progress.<br>
        </p>
      </div>
    </div>
  </div>

  <div class="row">
    <div
      data-aos="flip-left"
      data-aos-easing="ease-out-cubic"
      data-aos-duration="2000">
      <div class="right-cont">
        <h2>Share</h2>
        <p>
          Name your creations then post them to the feed so others can enjoy them.<br>
          Comments and feedback allow people to communicate about routes<br>
        </p>
      </div>
    </div>
  </div>

  <div class="row">
    <div
      data-aos="flip-right"
      data-aos-easing="ease-out-cubic"
      data-aos-duration="2000">
      <div class="left-cont">
        <h2>Download on the AppStore</h2>
      </div>
    </div>
  </div>

  <div class="row">
    <div>
      <h4><i>contact us</i></h4>
    </div>
  </div>


</div>
